<header class="pt-6 sm:pt-12 mb-8 sm:pl-16 lg:pl-24 px-4">
  <div class="flex justify-between items-center">
    <a href="/" class="block font-semibold text-black dark:text-white text-3xl">Mike McBride</a>
  </div>
</header>

