<header class="pt-6 sm:pt-12 mb-8 mx-auto max-w-xl">
  <div class="flex justify-between items-center">
    <a href="/" class="block font-semibold text-black dark:text-white text-3xl">Mike McBride</a>
    <button
      id="dark-mode-toggle"
      class="border rounded cursor-pointer p-3 w-12 h-12 bg-transparent text-black dark:text-white hover:bg-grey-lighter dark-hover:bg-grey-darkest border-transparent focus:outline-none"
      title="Toggle dark/light">
      <svg class="hidden dark:inline-block" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
      <svg class="dark:hidden" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"/></svg>
    </button>
  </div>
</header>
