<nav class="z-20 block text-base pt-4 bg-white dark:bg-black w-screen">
    <div class="w-full max-w-3xl mx-auto px-4">
        {% include "navigation-links.njk" %}
    </div>
    <div class="border-b border-grey-light dark:border-grey-darkest w-screen -mt-px mb-6 sm:mb-12"></div>
</nav>
