<a
  class="inline-block z-10 mr-4 md:mr-6 mb-0 font-medium tracking-wider pb-2 border-b-2 border-transparent {{ page.url | activeLink('/', 'equals') }}"
  href="/">About
</a>
<a
  class="inline-block z-10 mr-4 md:mr-6 mb-0 font-medium tracking-wider pb-2 border-b-2 border-transparent {{ page.url | activeLink('/projects') }}"
  href="/projects">Projects
</a>
<a
  class="inline-block z-10 mr-4 md:mr-6 mb-0 font-medium tracking-wider pb-2 border-b-2 border-transparent {{ page.url | activeLink('/blog') }}"
  href="/blog">Blog
</a>
<a
  class="inline-block z-10 mr-4 md:mr-6 mb-0 font-medium tracking-wider pb-2 border-b-2 border-transparent {{ page.url | activeLink('/uses') }}"
  href="/uses">Uses
</a>
<div class="border-b z-0 border-grey-light dark:border-grey-darkest -ml-4 sm:-ml-16 lg:-ml-24 w-screen -mt-px"></div>