<nav class="z-20 block text-base pt-4 bg-white dark:bg-black w-full max-w-xl mx-auto">
  {% include "navigation-links.njk" %}
</nav>
<div class="border-b border-grey-light dark:border-grey-darkest -ml-4 w-screen -mt-px mb-6 sm:mb-12"></div>
