<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="Mike McBride" />
<meta name="twitter:creator" content="@_mcbridem_" />
<meta property="og:url" content="https://mikemcbride.dev/" />
<meta property="og:title" content="Mike McBride" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}Personal website of Mike McBride{%- endif -%}" />
