<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal website of Mike McBride">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/inter.min.css">
    <title>{{ title }}</title>
    {% include "social.njk" %}
  </head>
  <body class="bg-white dark:bg-black text-black dark:text-white w-full min-h-screen flex flex-col font-sans text-lg leading-tight">
    {% include "header.njk" %}
    {% include "navigation.njk" %}

    <div class="flex flex-col flex-1 mx-auto w-full max-w-3xl px-4">
      <main class="w-full flex-auto">
        {{ content | safe }}
      </main>
    </div>

    {% include "footer.njk" %}

    {% set js %}
      {% include "js/checkDarkMode.js" %}
      {% include "js/pageview.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>
  </body>
</html>
