@font-face {
  font-family: 'Code Saver';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("CodeSaver-Regular.woff2") format("woff2"),
       url("CodeSaver-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Code Saver';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("CodeSaver-Italic.woff2") format("woff2"),
       url("CodeSaver-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Code Saver';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("CodeSaver-Medium.woff2") format("woff2"),
       url("CodeSaver-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Code Saver';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("CodeSaver-MediumItalic.woff2") format("woff2"),
       url("CodeSaver-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Code Saver';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("CodeSaver-Bold.woff2") format("woff2"),
       url("CodeSaver-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Code Saver';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("CodeSaver-BoldItalic.woff2") format("woff2"),
       url("CodeSaver-BoldItalic.woff") format("woff");
}
