<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Recommended -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Elements -->
        <meta charset="utf-8">

        <!-- Meta -->
        <meta name="description" content="Electron Highlighter theme page">
        <meta name="generator" content="11ty">

        <!-- Icons -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"/>

        <title>Electron Highlighter</title>

        <link rel="stylesheet" href="/berkeley-mono/berkeley-mono.css"/>
        <link rel="stylesheet" href="{{ '/site.css' | url }}">
    </head>

    <body class="font-mono bg-[#212836] text-[#f8fafd] w-full text-lg min-h-screen flex flex-col">
        <div class="mt-12 lg:mt-24 mx-auto w-full px-4 lg:px-0 max-w-4xl flex-grow">
            <h1 class="font-black text-3xl md:text-4xl lg:text-6xl text-center">Electron Highlighter</h1>
            <section class="prose prose-lg prose-invert prose-slate lg:prose-2xl lg:prose-invert prose-a:text-[#4ff2f8] prose-p:text-[#f8fafd] prose-headings:text-[#f8fafd] lg:prose-a:text-[#4ff2f8] lg:prose-headings:text-[#f8fafd] mx-auto mt-12 lg:mt-20">
                <section class="grid grid-cols-6 sm:grid-cols-12 gap-2 my-12">
                    <div class="h-4 sm:h-8 bg-[#ff5874]"></div>
                    <div class="h-4 sm:h-8 bg-[#ffbf7a]"></div>
                    <div class="h-4 sm:h-8 bg-[#fffa9e]"></div>
                    <div class="h-4 sm:h-8 bg-[#6af699]"></div>
                    <div class="h-4 sm:h-8 bg-[#4ff2f8]"></div>
                    <div class="h-4 sm:h-8 bg-[#82aaff]"></div>
                    <div class="h-4 sm:h-8 bg-[#c792ea]"></div>
                    <div class="h-4 sm:h-8 bg-[#141820]"></div>
                    <div class="h-4 sm:h-8 bg-[#212836] border border-slate-700"></div>
                    <div class="h-4 sm:h-8 bg-[#506686]"></div>
                    <div class="h-4 sm:h-8 bg-[#a8b5d1]"></div>
                    <div class="h-4 sm:h-8 bg-[#f8fafd]"></div>
                </section>
                <p>This is my theme pretty much everywhere I can possibly add a theme. I've spent WAY more time on it than I care to admit - I'd be ashamed to even estimate the time I've spent working on it.</p>
                <p>I've included some screenshots and links to various places you can install the theme. It's available for a bunch of applications, which are listed below.</p>
                <h2>Downloads</h2>
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 list-none !ml-0 !pl-0">
                    {%- for repo in electron_highlighter -%}
                    <li class="rounded-md !ml-0 p-0.5 lg:p-1 bg-[#a8b5d1] hover:bg-gradient-to-br from-[#82aaff] via-[#c792ea] to-[#6af699] flex items-center justify-center">
                        <a href="{{ repo.url }}" target="_blank" class="!no-underline bg-[#212836] p-4 rounded flex-grow h-full w-full">
                            <h3 class="!mt-0 !text-[#4ff2f8]">{{ repo.title }}</h3>
                            <p class="!no-underline text-sm lg:text-base">{{ repo.description }}</p>
                        </a>
                    </li>
                    {%- endfor -%}
                </ul>
                <h2>Screenshots</h2>
                <p>Screenshots are all of the theme running inside VS Code.</p>
                <section class="divide-y divide-slate-700">
                    <figure>
                        <img src="/img/electron-highlighter/js.png">
                        <figcaption class="text-center">JavaScript</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/css.png">
                        <figcaption class="text-center">CSS</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/html.png">
                        <figcaption class="text-center">HTML</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/json.png">
                        <figcaption class="text-center">JSON</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/go.png">
                        <figcaption class="text-center">Go</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/rust.png">
                        <figcaption class="text-center">Rust</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/python.png">
                        <figcaption class="text-center">Python</figcaption>
                    </figure>
                    <figure class="pt-12">
                        <img src="/img/electron-highlighter/ruby.png">
                        <figcaption class="text-center">Ruby</figcaption>
                    </figure>
                </section>
                <footer class="border-t border-slate-700 text-center py-20">
                    <p>Thanks for checking it out! Hope you enjoy.</p>
                </footer>
            </section>
        </div>
    </body>
</html>
