---
layout: default
---

<section class="prose lg:prose-2xl dark:prose-invert mb-12 lg:mb-20">
    <h1>{{ title }}</h1>
    {%- if subheading -%}
    <p>{{ subheading }}</p>
    {%- endif -%}
</section>
{{ content | safe }}
