---
layout: default
---

<section class="prose prose-zinc sm:prose-lg md:prose-xl lg:prose-2xl dark:prose-invert mb-12">
    <h1>{{ title }}</h1>
    {%- if subheading -%}
    <p>{{ subheading }}</p>
    {%- endif -%}
</section>
{{ content | safe }}
