---
layout: default
---

<h1 class="font-display text-6xl lg:text-8xl">{{ title }}</h1>
{%- if subheading -%}
<p class="mt-8 text-xl lg:text-3xl mb-20">{{ subheading }}</p>
{%- endif -%}
{{ content | safe }}
