<header class="py-8 px-4 lg:px-0">
    <nav class="flex flex-wrap gap-6 justify-start md:justify-end md:mx-auto max-w-4xl">
        <a href="/" class="{% if page.url === '/' %}font-bold text-zinc-900 dark:text-white{% else %}text-zinc-700 dark:text-zinc-300 hover:underline {% endif %} text-sm lg:text-md uppercase">About</a>
        <a href="/projects" class="{% if '/projects/' in page.url %}font-bold text-zinc-900 dark:text-white{% else %}text-zinc-700 dark:text-zinc-300 hover:underline {% endif %} text-sm lg:text-md uppercase">Projects</a>
        <a href="/writing" class="{% if '/writing' in page.url %}font-bold text-zinc-900 dark:text-white{% else %}text-zinc-700 dark:text-zinc-300 hover:underline{% endif %} text-sm lg:text-md uppercase">Writing</a>
    </nav>
</header>
