<nav class="mb-8 flex justify-end py-8 space-x-6 lg:space-x-8">
    <a href="/" class="underline text-2xl lg:text-3xl decoration-2 hover:decoration-4 decoration-emerald-600 dark:decoration-emerald-400">About</a>
    <a href="/projects" class="underline text-2xl lg:text-3xl decoration-2 hover:decoration-4 decoration-blue-600 dark:decoration-blue-400">Projects</a>
    <a href="/writing" class="underline text-2xl lg:text-3xl decoration-2 hover:decoration-4 decoration-rose-600 dark:decoration-rose-400">Writing</a>
    <a href="/uses" class="underline text-2xl lg:text-3xl decoration-2 hover:decoration-4 decoration-violet-600 dark:decoration-violet-400">Uses</a>
</nav>
