---
layout: default
---

<main class="prose prose-stone prose-2xl dark:prose-invert">
    <h1 class="font-display text-6xl lg:text-8xl">{{ title }}</h1>
    {% if date %}
        <p class="-mt-8 text-stone-500">{{ formattedDate }}</p>
    {% endif %}
    {{ content | safe }}
</main>
