<article class="mb-16 w-full">
  <a
    href="{{ project.url }}"
    class="text-black dark:text-white font-bold inline-block mb-2 text-2xl leading-tight hover:underline"
    target="_blank"
    rel="nofollow noreferrer noopener">
    {{ project.title }}
  </a>
  <p class="mb-2">{{ project.description }}</p>
  <div class="flex items-center">
    {% if project.url %}
    <a
      href="{{ project.url }}"
      class="text-blue dark:text-blue-light inline-block hover:underline"
      target="_blank"
      rel="nofollow noreferrer noopener">Website</a>
    {% endif %}
    {% if project.source %}
    <a
      href="{{ project.source }}"
      class="text-blue dark:text-blue-light inline-block hover:underline {{ 'pl-2 ml-2 border-l border-grey-dark' if project.url }}"
      target="_blank"
      rel="nofollow noreferrer noopener">Source</a>
    {% endif %}
  </div>
</article>
