---
title: Blog - Mike McBride
layout: default
---

<h1 class="text-3xl sm:text-4xl font-bold mb-3">Blog</h1>
<p class="text-base sm:text-lg mb-8">Sometimes I write things. You can read them here.</p>
<section>
  {% for item in collections.posts | reverse %}
  {% include 'components/post-teaser.njk' %}
  {% endfor %}
</section>
