---
title: Projects - Mike McBride
layout: default
---
<h1>Projects</h1>
<p class="mb-16">
  Most of my work is private, since it is for my company,
  but I do have a few open source projects and public websites which I have built.
  You can find some of them listed below, and the rest you can find on my GitHub profile.
</p>

<section class="mb-16">
  {% for project in metadata.projects %}
  {% include 'components/project-item.njk' %}
  {% endfor %}
</section>
