---
title: Uses - Mike McBride
layout: default
---

<h1>Uses</h1>
<p>Inspired by <a href="https://wesbos.com/uses/" target="_blank" rel="nofollow noreferrer">Wes Bos</a>, this page details the things I use to stay productive. Let's dive in.</p>

<h2>Editor</h2>

<blockquote>
  Time is a huge factor in staying productive. Your editor is the one tool you spend most of yours in and you should invest in optimizing your workflow skills. You'll benefit from them every day.
  <div class="text-right -mt-1">&ndash;&nbsp;<a href="https://twitter.com/addyosmani" target="_blank" rel="nofollow noreferrer">Addy Osmani</a></div>
</blockquote>

<ul>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://code.visualstudio.com" target="_blank" rel="nofollow noreferrer">VS Code</a>
            </strong>
        </p>
        <p>
      I am probably one of the last people to make the switch to VS Code. I'll probably do a write-up on why I switched, because it took a lot for me to leave Atom. For now, I'm really enjoying VS Code.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://marketplace.visualstudio.com/items?itemName=mikemcbride.electron-highlighter" target="_blank" rel="noreferrer nofollow">Electron Highlighter Syntax</a>
            </strong>
        </p>
        <p>
      I wrote my own theme. It's a slightly more vibrant version of Atom's One Dark syntax theme that I've customized to my liking. I have spent way more time on this theme than I care to admit.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://monolisa.dev" target="_blank" rel="nofollow noreferrer">MonoLisa</a>
            </strong>
        </p>
        <p>
      I have used a number of fonts over the years. MonoLisa is what I currently use in my editor and terminal. It's highly readable and looks excellent. If I have to stare at a font all day, it's worth paying for one I enjoy looking at.
    </p>
    </li>
</ul>

<h2>Terminal</h2>

<ul>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://hyper.is/" target="_blank" rel="nofollow noreferrer">Hyper</a>
            </strong>
        </p>
        <p>
        Hyper is my terminal app. It's an electron app, so it's built with HTML, CSS, and JavaScript which is pretty impressive... and it's quite fast. Also, it looks gorgeous.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://fishshell.com" target="_blank" rel="nofollow noreferrer">fish</a>
            </strong>
        </p>
        <p>
        Fish is my shell. Much better than bash in my opinion. I used zsh for years (both oh-my-zsh and prezto) and fish is a much more enjoyable experience. The intelligent autocomplete has changed my life. It's amazing. Also super easy to customize. It used to have a lot of incompatibilities with bash scripts which was annoying because you couldn't copy them and run them, but many of these things have been made compatible so it's much better than it used to be.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>
                <a href="https://github.com/mikemcbride/hyper-electron-highlighter" target="_blank" rel="nofollow noreferrer">Hyper Electron Highlighter</a>
            </strong>
        </p>
        <p>
        The theme is my Electron color scheme from Atom, ported to Hyper.
    </p>
    </li>
</ul>

<p>Here are a few of my favorite aliases I've set up:</p>

<ul>
    <li>
        <code>afk</code> starts my screensaver</li>
    <li>
        <code>bitly</code> followed by a URL runs a Python script to get the shortened link and copies it to my clipboard. Mostly useful for <a href="https://en.wikipedia.org/wiki/Rickrolling" target="_blank" rel="nofollow noreferrer">Rickrolling</a> people.</li>
    <li>
        <code>weather</code> gets the current weather in your area - try it out! Run <code>curl wttr.in</code> in your own terminal.</li>
    <li>
        <code>please</code> = <code>sudo</code>. Stole this idea from <a href="https://github.com/paulirish/dotfiles" target="_blank" rel="noreferrer nofollow">Paul Irish</a>, but I can't seem to find it in his dotfiles anymore.</li>
    <li>
        <code>resource</code> re-sources my shell if I've made changes</li>
    <li>
        <code>rm</code> = <code>trash</code>. I installed <a href="https://github.com/sindresorhus/trash-cli" target="_blank" rel="nofollow noreferrer">trash-cli</a>, so setting <code>rm</code> equal to <code>trash</code> means instead of losing something forever when I run <code>rm</code>, it dumps it into my trash so I can still recover it if I need to. I've been burned too many times.</li>
    <li>
        <code>gpub</code> = <code>git push -u origin $(git_current_branch)</code>. When you start a new branch in git, it's super annoying to have to set the upstream origin the first time you're pushing that branch. This alias makes it easy to publish a new branch.</li>
</ul>

<h2>Desktop Applications</h2>

<p>I use a variety of other desktop applications to get things done. I'll elaborate a little on why I chose some of them, especially in lieu of other popular applications. If you can install the app via <a href="https://formulae.brew.sh/cask" target="_blank" rel="noreferrer nofollow">Homebrew Cask</a> I will include the install command.</p>

<ul>
    <li>
        <p class="mb-0">
            <strong>Brave Browser</strong>
        </p>
        <p>
      Brave is a browser that puts your privacy first and automatically blocks trackers and ads. I always loved the idea - especially because it made many sites load faster - but there were a few things that kept me away, mostly extensions. In late 2018 they switched from their own browser shell, called Muon, and began using Chromium, and along with that change we got access to every Chrome extension and the Chrome dev tools. I switched immediately and never looked back. At this point, it's essentially Chrome without Google tracking everything you do, plus built-in ad-blocking. <code>brew cask install brave-browser</code>
        </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>Apple Notes</strong>
        </p>
        <p>
      I was using Bear for a while and it's really great (LOVE the markdown support), but ultimately I switched back to Apple Notes because I can't have shared notes with my wife in Bear. If they ever add that, I'll probably switch back. Or, you know, Apple could just add Markdown support to Notes.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>Tweetbot</strong>
        </p>
        <p>
      I love Twitter, and I use it as my primary source of news/information, but I can't stand the ads and their official desktop app wasn't updated for years. Years ago I got Tweetbot for iOS and fell in love. Then they came out with the desktop app, and it's awesome. Ever since I started using the desktop app, I find that I keep up with it much better.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>Kap</strong>
        </p>
        <p>
      Kep is the best app I've found for doing screen captures. You can easily export them to MP4 or GIF. Super useful for showing UI changes in GitHub PRs. [<a href="https://ketcap.co" target="_blank" rel="noreferrer nofollow">website</a>, <a href="https://getkap.co/download" target="_blank" rel="nofollow noreferrer">download</a>] <code>brew cask install kap</code>
        </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>Rectangle</strong>
        </p>
        <p>
      This might be the most underrated app ever. Windows computers have some handy built-in capabilities for managing your application window placement, but macOS doesn't have that. Rectangle gives you keyboard shortcuts for rearranging and resizing your windows, and also gives you "window snapping", where if you drag a window to a certain edge of the screen it will snap to fill part of the screen. I will never be able to use a Mac without this app again. [<a href="https://rectangleapp.com/" target="_blank" rel="nofollow noreferrer">website</a>] <code>brew cask install rectangle</code>
        </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>Insomnia</strong>
        </p>
        <p>
      A REST client, used for testing API calls. I previously used Postman for a REST client, but I came across Insomnia and it's really great. It also has excellent GraphQL support. <code>brew cask install insomnia</code>
        </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>MongoDB Compass</strong>
        </p>
        <p>
      I use it for interacting with Mongo databases. It's pretty solid.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>1Password</strong>
        </p>
        <p>
      I use 1Password for password management across all my devices. I pay about $60 a year for a Family Plan because it gives me shared folders so my wife and I can both use it for shared logins and also keep our own logins separate.
    </p>
    </li>
    <li>
        <p class="mb-0">
            <strong>HEY</strong>
        </p>
        <p>
      HEY is a radically different approach to email, from the makers of Basecamp. It's definitely not for everyone, but I've been loving it.
    </p>
    </li>
</ul>

<h2>Desk Setup</h2>

<h3>At work:</h3>

<p>This isn't really relevant anymore, as we're working remotely due to the coronavirus.</p>

<ul>
    <li>I have two 23" monitors mounted on monitor arms to a sit/stand desk that I didn't pay for.</li>
    <li>My laptop (15" MBP) sits beneath the two monitors, centered on the desk.</li>
    <li>I use <a href="https://apple.com/airpods/" target="_blank" rel="nofollow noreferrer">Apple AirPods</a> and can't recommend them enough.</li>
    <li>When I'm not standing, I sit on a <a href="http://moddea.com/2013/06/20/buoy-multifunctional-chair/" target="_blank" rel="nofollow noreferrer">buoy stool</a>. My company had a few of them sitting around our building and I snagged one instead of using a normal desk chair. I love it. I have bad posture and this helps a lot.</li>
    <li>I use an <a href="https://smile.amazon.com/Apple-Keyboard-Wireless-Rechargable-English/dp/B016QO64FI" target="_blank" rel="nofollow noreferrer">Apple Magic Keyboard</a> and <a href="http://smile.amazon.com/Apple-MJ2R2LL-A-Magic-Trackpad/dp/B016QO5YWC" target="_blank" rel="nofollow noreferrer">Apple Magic Trackpad</a>. I love the gestures on the MacBook touchpad, so I opted for the Magic Trackpad instead of a Magic Mouse, but I do hear excellent things about the mouse.</li>
</ul>

<h3>At home:</h3>

<ul>
    <li>I have one 23" Acer monitor</li>
    <li>To the left of the monitor, my laptop (15" MBP) sits on top of an <a href="http://smile.amazon.com/Rain-Design-10032-mStand-Laptop/dp/B000OOYECC" target="_blank" rel="nofollow noreferrer">mStand by Rain Design</a>. I love it. It also helps keep the laptop cool so it doesn't overheat.</li>
    <li>I have some Logitech speakers and subwoofer that I plug into my laptop most of the time when I want to listen to music.</li>
    <li>The desk itself is an IKEA table top mounted on a frame I built out of steel pipes that I spray painted black.</li>
</ul>
