:root {
  --inline-code-bg: rgba(134, 38, 220, 0.08);
  --code-bg: #f8fafc;
  --code-fg: #637484;
  --code-comment: #a8b3bd;
  --code-cyan: #36b9ac;
  --code-blue: #0261dc;
  --code-purple: #8626dc;
  --code-green: #13b130;
  --code-red: #e20a00;
  --code-orange: #ec790e;
  --code-yellow: #ffa90a;
  --outline-color: rgba(2, 97, 220, 0.5);
}

.mode-dark {
  --inline-code-bg: rgba(199, 146, 234, .1);
  --code-bg: #171c26;
  --code-fg: #a8b5d1;
  --code-comment: #506686;
  --code-cyan: #4ff2f8;
  --code-blue: #82aaff;
  --code-purple: #c792ea;
  --code-green: #6af699;
  --code-red: #ff5874;
  --code-orange: #ffbf7a;
  --code-yellow: #fffa9e;
  --outline-color: rgba(130, 170, 255, 0.5);
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  border: 0px solid #b8c2cc;
  border-bottom-width: 1px;
  box-sizing: content-box;
  height: 0;
  margin: 2rem 0;
  overflow: visible;
}

a {
  background-color: transparent;
  color: var(--code-blue);
  text-decoration: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
* Focus styles
**/
a:focus,
button:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--outline-color);
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}

.mode-dark img {
  filter: brightness(.8) contrast(1.2);
}

/**
* Reset margins on these things
*/
p, blockquote, pre,
ul, ol, dl, figure {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1em;
}

/**
* Paragraphs, ul, ol
*/
ul, p, ol {
  line-height: 1.8;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

pre, code, .code, .monospace {
  font-family: 'MonoLisa','Operator Mono','SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

code {
  color: var(--code-purple);
  background: var(--inline-code-bg);
  font-size: 1rem;
  padding: .125rem .25rem;
  border-radius: .125rem;
}

a > code {
  color: var(--code-blue);
  background: none;
}

blockquote {
  font-size: 1.15rem;
  font-style: italic;
  margin: 0;
  margin-bottom: 1em;
}
/**
* prism.js theme
*/

/* purgecss start ignore */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--code-fg);
  background: none;
  border-radius: 0;
  padding: 0;
  font-size: .825rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  background: var(--code-bg);
  margin: 1rem -1rem 2rem;
  overflow: auto;
  padding: 1rem;
  width: 100vw;
}

@media all and (min-width: 640px) {
  pre[class*="language-"] {
    border-radius: .25rem;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 1rem;
  }
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment);
}

.token.punctuation {
  color: var(--code-fg);
}

.token.tag,
.token.namespace,
.token.boolean,
.token.deleted,
.token.interpolation-punctuation {
  color: var(--code-red);
}

.token.function-name,
.token.function {
  color: var(--code-blue);
}

.token.number,
.token.attr-name {
  color: var(--code-orange);
}

.token.property,
.token.class-name,
.token.constant,
.token.variable,
.token.symbol {
  color: var(--code-yellow);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--code-purple);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.inserted {
  color: var(--code-green);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--code-cyan);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* purgecss end ignore */

@tailwind utilities;
