@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    text-rendering: optimizeSpeed;
}

:root {
    --code-border: theme('colors.zinc.200');
    --code-fg: #555;
    --code-bg: #fffdfb;
    --code-comment: #999;
    --code-blue: #0B5A7A;
    --code-cyan: #107684;
    --code-purple: #FC9B56;
    --code-green: #5FA28E;
    --code-red: #FB1E15;
    --code-yellow: #FC9B56;
    --selection-color: theme('colors.emerald.300');
    --selection-foreground: theme('colors.zinc.900');
}

.prose {
    --tw-prose-links: theme('colors.blue.600');
}

.prose pre {
    background-color: var(--code-bg);
    color: var(--code-fg);
    border: 1px solid var(--code-border);
    border-radius: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --code-border: rgba(50,50,50,0.1);
        --code-red: #cc6666;
        --code-yellow: #f0c674;
        --code-green: #b5bd68;
        --code-cyan: #8abeb7;
        --code-blue: #81a2be;
        --code-purple: #b294bb;
        --code-bg: #1d1f21;
        --code-comment: #969896;
        --code-gray: #1d1f21;
        --code-fg: #c5c8c6;
        --code-white: #eeeeee;
        --selection-color: theme('colors.yellow.500');
        --selection-foreground: theme('colors.zinc.900');
    }

    .dark\:prose-invert {
        --tw-prose-links: theme('colors.yellow.500');
        --tw-prose-invert-links: theme('colors.yellow.500');
    }
}

::selection {
    background: var(--selection-color);
    color: var(--selection-foreground);
}

/**
* prism.js theme
*/

/* purgecss start ignore */
code[class*="language-"],
pre.prismjs,
.prose code[class*="language-"],
.prose pre.prismjs {
    color: var(--code-fg);
    background: var(--code-bg);
    border-radius: 0;
    padding: 0;
    font-size: 1rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre.prismjs,
.prose pre.prismjs {
    background: transparent;
    margin: 0;
    overflow: auto;
    padding: 1rem;
    width: 100%;
}

pre code[class*="language-"],
.prose pre code[class*="language-"] {
    background: transparent;
}

.prose .token.comment,
.prose .token.block-comment,
.prose .token.prolog,
.prose .token.doctype,
.prose .token.cdata,
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--code-comment);
}

.prismjs .linenumber {
    color: var(--code-linenumbers);
    font-size: 85%;
}

.prose .token.punctuation,
.token.punctuation {
    color: var(--code-fg);
}

.prose .token.tag,
.prose .token.namespace,
.prose .token.boolean,
.prose .token.deleted,
.prose .token.number,
.prose .token.interpolation-punctuation,
.token.tag,
.token.namespace,
.token.boolean,
.token.deleted,
.token.number,
.token.interpolation-punctuation {
    color: var(--code-red);
}

.prose .token.function-name,
.prose .token.function,
.prose .token.attr-name,
.prose .token.property,
.prose .language-html .token.attr-value,
.prose .token.url,
.token.function-name,
.token.function,
.token.attr-name,
.token.property,
.language-html .token.attr-value,
.token.url {
    color: var(--code-blue);
}

.prose .language-html .token.property,
.prose .language-html .token.attr-name,
.prose .language-html .token.namespace,
.prose .token.class-name,
.prose .token.constant,
.prose .token.variable,
.prose .token.symbol,
.language-html .token.property,
.language-html .token.attr-name,
.language-html .token.namespace,
.token.class-name,
.token.constant,
.token.variable,
.token.symbol {
    color: var(--code-yellow);
}

.prose .token.selector,
.prose .token.important,
.prose .token.atrule,
.prose .token.keyword,
.prose .token.builtin,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: var(--code-purple);
}

.prose .token.operator,
.prose .token.entity,
.token.operator,
.token.entity {
    color: var(--code-cyan);
}

.prose .token.string,
.prose .token.char,
.prose .token.attr-value,
.prose .token.regex,
.prose .token.inserted,
.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.inserted {
    color: var(--code-green);
}

.prose .token.important,
.prose .token.bold,
.token.important,
.token.bold {
    font-weight: bold;
}

.prose .token.italic,
.token.italic {
    font-style: italic;
}

.prose .token.entity,
.token.entity {
    cursor: help;
}

/* purgecss end ignore */
