@font-face {
  font-family: 'MonoLisa';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("MonoLisa-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'MonoLisa';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("MonoLisa-Medium.woff2") format("woff2");
}
@font-face {
  font-family: 'MonoLisa';
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
  src: url("MonoLisa-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'MonoLisa';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("MonoLisa-Bold.woff2") format("woff2");
}
