@font-face {
  font-family: 'ZillaSlab';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("ZillaSlab-Medium-subset.woff2") format("woff2");
}

@font-face {
  font-family: 'ZillaSlab';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("ZillaSlab-Bold-subset.woff2") format("woff2");
}
