---
---
<div
    class="prose prose-zinc dark:prose-invert 
    sm:prose-lg md:prose-xl lg:prose-2xl
    prose-img:rounded-lg dark:prose-img:rounded-lg
    prose-a:hover:text-teal-600 dark:prose-a:hover:text-teal-400">
  <slot />
</div>
