---
import NavItem from './NavItem.astro'
import NavCloseButton from './NavCloseButton.astro'
---
<nav class="p-4 relative">
    <ul class="flex gap-3 p-1 text-sm font-medium text-zinc-800 dark:text-zinc-200">
        <NavItem href="/">Home</NavItem>
        <NavItem href="/projects">Projects</NavItem>
        <NavItem href="/writing">Writing</NavItem>
        <NavItem href="/extras">Extras</NavItem>
        <NavItem href="/uses">Uses</NavItem>
    </ul>
    <div class="w-screen absolute left-0 -bottom-px h-px bg-zinc-200 dark:bg-zinc-700"></div>
    <div class="w-screen absolute right-0 -bottom-px h-px bg-zinc-200 dark:bg-zinc-700"></div>
</nav>
