---
import NavItem from './NavItem.astro'
---
<nav class="pointer-events-auto w-full max-w-md mx-auto px-4 mt-4 md:mt-8">
    <ul class="flex justify-around rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 ring-1 shadow-lg shadow-zinc-800/5 ring-zinc-900/5 backdrop-blur-sm dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10">
        <NavItem href="/">Home</NavItem>
        <NavItem href="/projects">Projects</NavItem>
        <NavItem href="/writing">Writing</NavItem>
        <NavItem href="/extras">Extras</NavItem>
        <NavItem href="/uses">Uses</NavItem>
    </ul>
</nav>

