:root {
  --app-bg: #fff;
  --app-text: #22292f;
  --app-gray: #606f7b;
  --link-color: #0071e4;
  --code-color: #d8009c;
  --app-theme: light;
  --app-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-bg: #22292f;
    --app-text: #fff;
    --app-gray: #8795a1;
    --link-color: #82aaff;
    --code-color: #ff6bd6;
    --app-theme: dark;
    --app-shadow: 0 4px 6px -1px rgba(255,255,255, 0.1), 0 2px 4px -1px rgba(255,255,255, 0.06);
  }
  
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

/* force dark/light mode */
.dark-mode.main-layout {
  --app-bg: #22292f;
  --app-text: #fff;
  --app-gray: #8795a1;
  --link-color: #82aaff;
  --code-color: #ff6bd6;
  --app-shadow: 0 4px 6px -1px rgba(255,255,255, 0.1), 0 2px 4px -1px rgba(255,255,255, 0.06);
}

.dark-mode.main-layout img {
  filter: brightness(.8) contrast(1.2);
}

.light-mode.main-layout {
  --app-bg: #fff;
  --app-text: #22292f;
  --app-gray: #606f7b;
  --link-color: #0071e4;
  --code-color: #d8009c;
  --app-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.light-mode.main-layout img {
  filter: brightness(1) contrast(1);
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */
 
*,
*::before,
*::after {
  box-sizing: inherit;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  border-bottom-width: 1px;
  border: 0px solid #dae1e7;
  box-sizing: content-box;
  height: 0;
  margin: 2rem 0;
  overflow: visible;
}

a {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: inherit;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}


@media all and (min-width: 768px) {
  .post-content a:hover { text-decoration: underline; }
}

/**
* Reset margins on these things
*/
p, blockquote, pre,
ul, ol, dl, figure {
  margin-top: 0;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1em;
}

/**
* Paragraphs, ul, ol
*/
ul, p, ol {
  line-height: 1.8;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

@tailwind utilities;


.text-default {
  color: var(--app-text);
}

.text-gray {
  color: var(--app-gray);
}

.text-blue {
  color: var(--link-color);
}

.text-pink {
  color: var(--code-color);
}

.border-faded {
  border-color: rgba(127,127,127,0.3)
}

.border-default {
  border-color: var(--app-text);
}

.dynamic-shadow {
  box-shadow: var(--app-shadow);
}