---
import DefaultLayout from "./Layout.astro";
import Prose from "../components/Prose.astro";
const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
const subheading = frontmatter?.subheading || Astro.props.subheading;
---

<DefaultLayout>
	<Prose>
		<section class="mb-12">
			<h1>{title}</h1>
			{subheading && <p>{subheading}</p>}
		</section>
	</Prose>
	<slot />
</DefaultLayout>
