---
import "../styles/global.css";
import SiteNav from "../components/SiteNav.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<!doctype html>
<html lang="en" class="w-full h-full m-0">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Mike McBride</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👋</text></svg>"
		/>
	</head>
	<body
		class="font-sans text-zinc-900 bg-white dark:bg-zinc-900 dark:text-zinc-200 w-full text-lg min-h-screen flex flex-col"
	>
		<div
			class="pointer-events-none fixed inset-0 z-0 bg-[image:repeating-linear-gradient(315deg,_var(--pattern-fg)_0,_var(--pattern-fg)_1px,_transparent_0,_transparent_50%)] bg-[size:10px_10px] bg-fixed [--pattern-fg:var(--color-black)]/5 dark:[--pattern-fg:var(--color-white)]/5"
		></div>
		<div
			class="relative z-10 mx-auto w-full max-w-4xl flex-grow flex flex-col border-x border-black/10 dark:border-white/15 bg-white dark:bg-zinc-900"
		>
		<SiteNav />
			<div class="mt-16 lg:mt-20 px-4 lg:px-8 flex-grow">
				<slot />
			</div>
			<SiteFooter />
		</div>
	</body>
</html>
