:root {
  --inline-code-bg: #F5F3FF;
  --inline-code-color: #6D28D9;
  --code-fg: theme('colors.gray.800');
  --code-bg: theme('colors.gray.50');
  --code-border: theme('colors.gray.200');
}

.dark {
    --inline-code-bg: rgba(167, 139, 250, 0.15);
    --inline-code-color: theme('colors.purple.400');
    --code-bg: theme('colors.gray.800');
    --code-fg: theme('colors.gray.200');
    --code-border: theme('colors.gray.700');
}

@tailwind base;
@tailwind components;

::selection {
    color: theme('colors.black');
    background: theme('colors.aqua.DEFAULT');
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.dark img {
  filter: brightness(.85) contrast(1.15) !important;
}

.dark .prose {
    color: theme('colors.gray.300')
}
.dark .prose strong {
    color: theme('colors.gray.200');
}

.dark .prose blockquote {
    color: theme('colors.gray.300');
    border-left-color: theme('colors.gray.700');
}

blockquote {
    font-family: theme('fontFamily.slab');
}

pre, code {
    font-family: theme('fontFamily.mono');
}

code, .prose code {
  color: var(--inline-code-color);
  background: var(--inline-code-bg);
  padding: 0 .25em;
  border-radius: .125em;
  font-weight: inherit;
  display: inline-block;
}

.prose code {
    margin: 0 !important; /* this fixes some weird margin stuff that prose sometimes adds */
}

.prose pre {
    background-color: var(--code-bg);
    color: var(--code-fg);
    border: 1px solid var(--code-border);
}

.dark .prose pre {
    background-color: var(--code-bg);
    color: var(--code-fg);
    border: 1px solid var(--code-border);
}

.default-link,
.prose a {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: .15em;
    text-decoration-thickness: .1ch;
    text-decoration-skip-ink: none;
    text-decoration-color: theme('colors.aqua.DEFAULT');
}

.dark .prose a,
.dark .default-link {
    color: theme('colors.gray.300');
    text-decoration-color: theme('colors.teal.DEFAULT')
}

.default-link:hover,
.prose a:hover {
    color: theme('colors.hot-pink');
    text-decoration-color: theme('colors.hot-pink');
}

.dark .default-link:hover,
.dark .prose a:hover {
    color: theme('colors.pink.400');
    text-decoration-color: theme('colors.pink.400');
}

a > code,
.prose a > code {
    color: theme('colors.blue.600');
    background: rgba(2, 97, 220, 0.08);
    text-decoration: none;
}

.dark a > code,
.dark .prose a > code {
    color: theme('colors.blue.400')
}

.prose code::before,
.prose code::after {
    content: '';
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
    font-family: theme('fontFamily.slab');
    padding-top: 1em;
}

.prose h1, .prose h2 {
    padding-bottom: .25em;
    border-bottom: 2px solid theme('colors.blue.600');
}

.dark .prose h1,
.dark .prose h2 {
    border-bottom-color: theme('colors.blue.400');
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
    color: theme('colors.gray.200');
}

.prose hr {
    border: 0;
    border-top: 1px solid theme('colors.gray.400');
    margin: 2rem 0;
}

.dark .prose hr {
    border-top: 1px solid theme('colors.gray.600');
}

@tailwind utilities;
